header{
  height: 100vh;
  width:100%;
}

.second{
  height:100vh;
}

.second h1{
  float: right;
  margin-top:15%;
  margin-right: 20%;
  font-size: 4em;
}

.second p{
  clear: right;
  margin: 10em;
}

.third{
  height: 100vh;
}