@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
.skills{
  display: flex;
  margin: 0 auto;
  height: 17vh;
  min-height: 17vh;
  min-width: 20vh;
}
.skillssection{
  margin-top: -15vh;
}
.skillstools{
  font-family: 'Helvetica';
  font-size: 6rem;
  text-align: center;
  color:rgba(84, 61, 61, 0.914);
  margin-left: .8em;
}

.lizziehome{
  display: flex;
  margin: 0 auto;
  height: 65vh;
  min-height: 30vh;
  min-width: 45vh;
}
.lizziehome1{
  display: flex;
  margin: 0 auto;
  height: 90vh;
  min-height: 30vh;
  min-width: 45vh;
}
.inlineLinks{
  display: inline-flex;
  margin-right: 15%;
  margin-left: 5%;
}
.carousel{
  display: flex;
  margin: 0 auto;
  height: 55vh;
  min-height: 30vh;
  min-width: 45vh;
}
.inline-text{
text-align:center;
}
.jack{
font-family: 'Helvetica';
font-size: 7rem;
color:rgba(84, 61, 61, 0.914)
}
.tagline{
  font-family: 'Helvetica';
  color:rgba(104, 76, 76, 0.914);
  font-size: 2.3em;
  /* margin-top: -1%; */
}
.thumb{
  height: 4.4em;
  width: 9em;
  margin-right: 5%;
}
.thumb:hover{
  transition:1s;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.circle{
  height: 2.5em;
  width: 2.5em;
}
.circle:hover{
  transition:1s;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.thumbnail{
  height: 1em;
  width: 1em;
  margin-bottom: 1%;
}
.thumbnail:hover{
  transition:1s;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.letter{
  height: 5vw;
  width: 3.8vw;
}
.letter:hover{
  box-shadow: black;
  transition:1s;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/* Carousel */
.caption3{
  margin-top: 2em;
}
.carousel-control-next{
  color: black;
  font-size: 2.5em;
}
.carousel-control-prev{
  color: black;
  font-size: 2.5em;
}
.sr-only{
  color: black;
}

/* Header Syling */
.inlineheader{
  display: flex;
  float: right;
  margin-right: 1em;
}
.navbar-toggler{
  width: 3.5em;
  height: 3.5em;
}
.navbar-toggler-icon{
  width: 2.5em;
  height: 2.5em;
}
.header {
  margin-top: 1em;
  position:fixed;
  font-family: 'Helvetica';
  width: 100%;
   font-size: 2rem;
   color: white;
   padding: 5px;
   background: #f7f9f7aa;
 }


/* Header  button */
.button{
  font-family: "Helvetica";
	display: inline-block;
	position: absolute;
	overflow: hidden;
	left: 40%;
	top: 40%;
  /* width: 200px;/ */
	perspective:400px;
	background-color: transparent;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255,255,255,0.3))); 
}

.button span{
	display: block;
	position: relative;
	transition:0.3s ease-in-out all;
	transform-origin:50% 0;
  transform-style:preserve-3d;
	background-color: rgb(255, 251, 251);
	color: rgb(157, 155, 155);
  width: 100%;
}
.button span:after{
	display: block;
	content: attr(data-title);
	position: absolute;
	left: 0;
	top: 0;
	transition:0.3s ease-in-out all;
	transform-origin:50% 0;
	transform:translate3d(0px,105%,0px) rotateX(-90deg);
	background-color: white;
	color: black;
  width: 100%;
}
.button:hover span{
	transform:translate3d(0px,0px,-30px) rotateX(90deg);
}
.respect{
  position: absolute;
  left: 10px;
  bottom: 10px;
  font-size: 0.5em;
  color:rgb(255, 254, 254);
}
a{
  color:rgb(128, 126, 126);
  text-decoration: none;
}

/* footer  */
.footer{
   font-family: 'Helvetica';
   font-weight: 800;
   font-size: 1.5em;
    color: rgb(201, 134, 134);
    padding: 5px;
    background: rgb(216, 216, 216);
    position:fixed;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
  }
  .inlinefooter{
    display:flex;
    justify-content: space-between;
  }
  .footerlinks{
    font-family: 'Helvetica';
    margin-top: 1vh;
    margin-bottom: 1vh;
    bottom:0;
  }
  .footerlinklist{
    list-style-type: none;
    display: flex;
    align-self:flex-end;
    bottom:0;
  }
  .copyright{
  font-family: 'Helvetica';
  display: flex;
  justify-content: center;
  align-items: center;
  bottom:0;
  margin-top: -5vh;
  }


  /* wayfarer page */
.wayfarertitle{
font-size: 5rem;
padding: 10px 0 30px;
line-height: 1.2;
}
.wayfarerbody{
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 300;
  color: #2C2C2C;
}
.inlinewayfarer{
  display:flex;
  justify-content: space-between;
}
@media (max-width: 1024px)  {
  .inlinewayfarer {
      display: block;
  }
}
.wayfarerlaptop{
  max-width: 25em;
  max-height: 25em;
}
.yo{
  max-width: 25em;
  max-height: 25em;
}
.headshot{
  max-width: 25em;
  max-height: 22em;
}
.wayfarerlayout{
  display: flex;
  max-width: 100%;
  max-height: 40%;
  align-items: center;
}

@media (max-width: 940px)
.projectPage header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.projectPage{
  padding:2vw;
}
a.link{
  color:rgb(109, 108, 108);
  font-style: italic;
}
.tools{
  font-size: 1.5em;
  color:rgb(109, 108, 108);
  font-style: italic;
}

/* HS-Credit page  */
.lank{
  width: 3em;
  height: 3em;
}
.hscreditlayout{
  display: flex;
  margin:0 auto;
  height: 55vw;
}
.hscreditlayout1{
  display: flex;
  margin:0 auto;
  height: 70vw;
}
/* lizzie */
.lizzielaptop{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    max-width: 120%;
    max-height: 30%;
    align-items: center;
}

/* about */
.about{
  padding: 5vw;
  margin-top: -5vw;
}
.abouttitle{
  font-family: 'Helvetica';
  font-size: 7rem;
  text-align: center;
  color:rgba(84, 61, 61, 0.914)
  }
  .inlineabout{
    display:flex;
    justify-content: space-between;
    padding: 10vw;
    margin-top: -5vw;
  }
/* contact/code  */
.coder{
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 300;
  color: #2C2C2C;
  text-align: center;
}
.codertitle{
  font-size: 5rem;
padding: 10px 0 30px;
line-height: 1.2;
text-align: center;
}
.codelinks1{
height: 18em;
}
.codelinks1:hover{
  height: 19em;
  transition: 1s;
  }
.codelinks2{
  height: 18em;
  }
.codelinks2:hover{
  height: 19em;
  transition: 1s;
  }
.codelinks3{
  height: 18em;
  }
.codelinks3:hover{
  height: 19em;
  transition: 1s;
  }
.codelinks4{
  height: 18em;
  }
.codelinks4:hover{
  height: 19em;
  transition: 1s;
  }

.email{
}
.css-text-901oao{
  background:rgb(138, 115, 115);
}
.r-backgroundColor-14sbq61 {
  background-color: rgb(255, 255, 255);
}
.r-textTransform-tsynxw {
  text-transform: none;
  width: 4em;
}
.css-text-901oao {
  box-sizing: border-box;
  display: inline;
  font: 2em -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}
.inlinecontact{
  display:flex;
  justify-content: center;
}


/* work  */
.worktools{
  font-size: 1.5em;
  color:rgb(109, 108, 108);
  font-style: italic;
  margin-left: 4vh;
}
.loveit{
  width: 40%;
}
.worktitle{
  font-size: 6rem;
  padding-left: 30px;
  line-height: 1.2;
}
.whatever{
  padding:1em;
  margin-left: 10vw;

}
.lizziephone{
  width: 30em;
  height:20em;
}

